.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 70%;
    margin: 20px auto;
    gap: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 15px;
}

.cart-fixed {
    background-color: yellow;
    position: fixed;
    right: 0px;
    padding: 20px 30px;
    width: fit-content;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px 0 0 20px;
    text-decoration: none;
    color: black;
}

.cart-icon {
    height: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
